{% load get_value %}
{# refer to "templatetags/get_value.py" for dict get_item filter #}
{# reference: #}
{# https://stackoverflow.com/questions/8000022/django-template-how-to-look-up-a-dictionary-value-with-a-variable #}
{# https://docs.djangoproject.com/en/dev/howto/custom-template-tags/#writing-custom-template-filters #}

{# table style #}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr {
        height: 40px;
    }

    td {
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }

    form {
        margin: auto;
    }
</style>

{# show current player #}
<p>Current Player: {{ game.CURRENT_PLAYER_DICT|get_value:game.current_player }}</p>

{# show status #}
<p>Status: {{ game.STATUS_DICT|get_value:game.status }}</p>

{# show table #}
<table>
    {# for each row in board #}
    {% for row in board %}
        <tr>
            {# for each cell in row #}
            {% for cell in row %}
                <td>
                    {# if cell is of player 1, show player 1's mark gotten from MARK_DICT #}
                    {% if cell == game.PLAYER_1 %}
                        {{ game.MARK_DICT|get_value:game.PLAYER_1 }}
                        {# else if cell is of player 2, show player 2's mark gotten from MARK_DICT #}
                    {% elif cell == game.PLAYER_2 %}
                        {{ game.MARK_DICT|get_value:game.PLAYER_2 }}
                        {# else if status is not unfinished,show a space #}
                    {% elif game.status != game.STATUS_UNFINISHED %}
                        &nbsp;
                        {# else show a form with action to mark and post method #}
                    {% else %}
                        <form action="{% url 'game:mark' game_id=game.id %}" method="post">
                            {# csrf_token for security #}
                            {% csrf_token %}
                            {# hidden inputs to set row and col #}
                            <input type="hidden" name="row" value="{{ forloop.parentloop.counter0 }}">
                            <input type="hidden" name="col" value="{{ forloop.counter0 }}">
                            {# submit button #}
                            <input type="submit" value=" ">
                        </form>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<br>
{# show "New Game" button if the game is unfinished #}
{% if game.status != game.STATUS_UNFINISHED %}
    <form action="{% url 'game:new_game' %}" method="get">
        <input type="submit" value="New Game">
    </form>
{% endif %}
<br>
{# show "Home" button with action to index and get method #}
<form action="{% url 'game:index' %}" method="get">
    <input type="submit" value="Home">
</form>